<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>

        {{>navbar}}




    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="yuvi" class="img-fluid" title="yuvraj singh">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Yuvi's World</p>
                        <h1>I am a <span class="text_clr">Full Stack Developer</span> and student</h1>
                        <a href="https://yuvrajsingh419.github.io/Personal_Portfolio_Website/" target="_blank"><button>About me</button></a>
                    </div>



                </div>
            </div>
        </div>
    </div>

{{>footer}}
</body>

</html>